@charset "UTF-8";
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 8px;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  width: 100%;
  height: 100%;
  background-color: #141517;
  font-family: "Noto Sans KR", sans-serif;
}

body,
button {
  color: #fff;
}

#wrap .header {
  width: 100%;
  height: 60px;
  line-height: 50px;
  background-color: rgba(0, 0, 0, 0.6117647059);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2117647059);
}
#wrap .main-contents .contents__inner {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#wrap .main-contents .contents__inner h1 {
  font-size: clamp(2.5rem, 2.439vw, 2.8rem);
  margin-bottom: 130px;
}
#wrap .main-contents .contents__inner .btn-box {
  display: flex;
  flex-direction: column;
  width: 90%;
}
#wrap .main-contents .contents__inner .btn-box button {
  font-size: 1.6rem;
}
#wrap .main-contents .contents__inner .btn-box .start-btn {
  width: 100%;
  height: 50px;
  background-color: #00ffa3;
  color: #333;
  margin-bottom: 15px;
  font-weight: 600;
  border-radius: 8px;
}
#wrap .main-contents .contents__inner .btn-box .clip-btn {
  width: 100%;
  height: 50px;
  background-color: #373a3f;
  color: #fff;
  border-radius: 8px;
}
#wrap footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  border-top: 1px solid rgba(255, 255, 255, 0.2117647059);
}
#wrap footer .footer__inner {
  width: 90%;
  margin: 0 auto;
}
#wrap footer .footer__inner dl {
  color: rgba(255, 255, 255, 0.5019607843);
}
#wrap footer .footer__inner dl dt,
#wrap footer .footer__inner dl dd {
  text-align: right;
}
#wrap footer .footer__inner dl dd {
  margin-top: 10px;
}

/* 모달공통 */
.modal-common {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: 0.4s;
  color: #fff;
  overflow-y: scroll;
}
.modal-common.active {
  visibility: visible;
  opacity: 1;
}
.modal-common .modal__inner {
  padding: 20px;
  width: 90%;
  /* // */
}
.modal-common .modal__inner .modal-header {
  display: flex;
  flex-direction: column;
  width: clamp(795px, 77.561vw, 960px);
  margin: 0 auto;
}
.modal-common .modal__inner .modal-header .close-box {
  position: relative;
}
.modal-common .modal__inner .modal-header h1 {
  font-size: clamp(2.5rem, 2.439vw, 2.8rem);
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
}
.modal-common .modal__inner .modal-header i {
  position: absolute;
  top: -50px;
  right: 0;
  margin-bottom: 20px;
  font-size: 2.5rem;
  cursor: pointer;
}
.modal-common .modal__inner .modal-header .clip-report-btn-box {
  text-align: right;
}
.modal-common .modal__inner .modal-header .clip-report-btn-box button {
  margin-bottom: 15px;
  width: 80px;
  height: 40px;
  line-height: 40px;
  background-color: red;
  border-radius: 8px;
}
.modal-common .modal__inner .modal-body .white-box {
  width: 90%;
  max-width: 960px;
  height: 480px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
}
.modal-common .modal__inner .modal-body .img-box {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.modal-common .modal__inner .modal-body .img-box li:nth-child(1) {
  margin-right: 10px;
}
.modal-common .modal__inner .modal-body .img-box li:nth-child(2) {
  margin-right: 10px;
}
.modal-common .modal__inner .modal-body .img-box li:nth-child(3) {
  margin-right: 10px;
}
.modal-common .modal__inner .modal-body .img-box li:nth-child(4) {
  margin-right: 10px;
}
.modal-common .modal__inner .modal-body .img-box li:nth-child(5) {
  margin-right: 10px;
}
.modal-common .modal__inner .modal-body .img-box li:nth-child(6) {
  margin-right: 10px;
}
.modal-common .modal__inner .modal-body .img-box li:nth-child(7) {
  margin-right: 10px;
}
.modal-common .modal__inner .modal-body .img-box li:nth-child(8) {
  margin-right: 10px;
}
.modal-common .modal__inner .modal-body .img-box li > img {
  width: 100%;
  max-width: 70px;
}

.report-modal-container .report-history-box {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.report-modal-container .report-history-box .history__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  border-radius: 8px;
}
.report-modal-container .report-history-box .history__inner.video-length-box, .report-modal-container .report-history-box .history__inner.channel-name-box {
  background-color: #4b4f58;
  width: 140px;
  height: 145px;
}
.report-modal-container .report-history-box .history__inner.delete-btn-box {
  background-color: #656565;
  height: 50px;
  width: 150px;
}